<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Remoto</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Obtener referencia al select y al input
            var selectAccion = document.querySelector('[name="accion"]');
            var inputValor = document.querySelector('[name="value_ac"]');

            // Definir límites para cada opción del select
            var limites = {
                "1": { min: 0, max: 1 },
                "2": { min: 25, max: 35 },
                "3": { min: 0, max: 100 },
                "4": { min: 0, max: 100 },
                "5": { min: 0, max: 1440 },
                "6": { min: 0, max: 1440 }
            };

            // Actualizar límites cuando cambia la opción seleccionada
            selectAccion.addEventListener("change", function () {
                var opcionSeleccionada = selectAccion.value;
                if (limites[opcionSeleccionada]) {
                    inputValor.setAttribute("min", limites[opcionSeleccionada].min);
                    inputValor.setAttribute("max", limites[opcionSeleccionada].max);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Control Remoto</h1>
    <p>I: Irrigacion [0-1] off-on</p>
    <p>D: Temperatura deseada [25-35] </p>
    <p>F: Potencia foco [0-100] </p>
    <p>V: Potencia ventilador [0-100]</p>
    <p>C: Ciclo foco [0-1440] minutos</p>
    <p>Y: Ciclo Irrigacion [0-1440] minutos</p>
    
    <form method="post" action="/control">
        <select name="accion">
            <option value="1">I</option> 
            <option value="2">D</option>
            <option value="3">F</option> 
            <option value="4">V</option> 
            <option value="5">C</option> 
            <option value="6">Y</option> 
         </select>
        <label for="valor de accion">value:</label>
        <input type="number" name="value_ac" min=selectAccion.value  max=selectAccion.value required><br>

        <button type="submit">Enviar Datos</button>
    </form>
</body>
</html>
