<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Remoto</title>
</head>
<body>
    <h1>Control Remoto</h1>
    <form method="post" action="/control">
        <label for="fan_power">Potencia del Ventilador:</label>
        <input type="number" name="fan_power" required><br>

        <label for="light_power">Potencia del Foco:</label>
        <input type="number" name="light_power" required><br>

        <label for="min_temp">Temperatura Mínima:</label>
        <input type="number" name="min_temp" required><br>

        <label for="max_temp">Temperatura Máxima:</label>
        <input type="number" name="max_temp" required><br>

        <label for="temp_cycle">Ciclo de Temperatura (minutos):</label>
        <input type="number" name="temp_cycle" required><br>

        <label for="irrigate_cycle">Ciclo de Irrigación (minutos):</label>
        <input type="number" name="irrigate_cycle" required><br>

        <button type="submit">Enviar Datos</button>
    </form>
    <!---{% if message %}
        <p>{{ message }}</p>
    {% endif %}--->
</body>
</html>
